*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-heading {
    margin-bottom: 20px;
}
.form {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
}
.input {
    margin-bottom: 10px;
}
.input input, .input select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}